{% extends 'base.html' %}

{% block style %}
.cs {border-color: var(--ham-menu-selected-border);}
.cs a{color: var(--ham-menu-selected-color);}
{% endblock %}

{% block content %}
<div class="heading">
    <p>XMEMO <span id="theme-changer" class="inline-btn">Change Theme</span></p>
    <div></div>
</div>
<p class="main-text">
    <bold style="color: red;">The website is functional and the bot is ready now, just performing some
    checks, you might experience some bugs (stable release coming this week) but rest is fine.</bold><br><br>
    Xmemo ~ Xaverian Memo (read as zemo) is a notes and resource sharing service.<br><br>
    <a href="https://t.me/joinchat/uQvgX7OBFi1jNDg1">Join</a> our telegram group and just say "add question" to upload
    notes<br><br>
    You can search for notes by date or by keywords.
</p>

<div class="heading">
    <p>Search (By date)</p>
    <div></div>
</div>

<form action="search/" method="get" class="sub-container" style="border: none; margin-top: 20px; padding-bottom: 10px;">
    <br>
    <span class="search">
        <input name="q" type="text" class="input" placeholder="25 march 2021">
        <input type="submit" value="Search" class="inline-btn" placeholder="Search">
    </span>
</form>


<div class="heading">
    <p>Search (By Keywords)</p>
    <div></div>
</div>

<form action="search-keyword/" method="get" class="sub-container" style="border: none; margin-top: 20px; padding-bottom: 10px;">
    <br>
    <span class="search">
        <input name="q" type="text" class="input" placeholder="WAP to display...">
        <input type="submit" value="Search" class="inline-btn" placeholder="Search">
    </span>
</form>

<div class="heading">
    <p>How to contribute?</p>
    <div></div>
</div>

<p class="main-text">
    You can contribute notes or to the source code, either way any contributions are highly appreciated.
</p>

<div class="sub-heading">
    <p>By providing notes</p>
    <div></div>
</div>


<p class="sub-text">
    You can easily <bold>upload notes</bold> by just sending a message <bold>in our telegram group</bold>, Xmemo (the bot) will read your
    message and upload it in our database, hiding all the hassle of updating the database from you, simple as that.
    <br><br>
    The bot is now ready (might experience some bugs).
    You can join our <a href="https://t.me/joinchat/uQvgX7OBFi1jNDg1">telegram group</a> to upload notes.
    <br><br>
</p>

<div class="sub-heading">
    <p>By contributing to the source code</p>
    <div></div>
</div>

<p class="sub-text">
    You can contribute to the source code on <a href="https://github.com/sujaldev/xmemo" target="blank">
    <svg class="githublogo" fill="" height="22" viewBox="0 0 16 16" version="1.1" width="22" aria-hidden="true">
        <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
        </path>
    </svg></a>
    after reading the contribution guidelines inside the repository, xmemo is written with python (django) and hosted on
    heroku so you must know at least django to contribute.
</p>


{% endblock %}