<!DOCTYPE html>
<html>
<head>
	<title>Xmemo - Share notes</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link class="mode" rel="stylesheet" type="text/css" href="{% static 'css/light-theme.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
</head>
<body>
	<header>
		<div class="navbar">
			<p class="title">XMEMO</p>
			<div class="logo">
				<img src="https://img.icons8.com/color/144/000000/c-plus-plus-logo.png" width="40px" align="center">
			</div>
		</div>
		<div class="ham-menu">
			<div class="sub cs selected-subject">
				<a href="">
					<img src="https://img.icons8.com/color/144/000000/c-plus-plus-logo.png" width="30px" align="center">
					Computer Science
				</a>
			</div>
			<div class="sub ph">
				<a href="">
					<img src="https://img.icons8.com/color/144/000000/c-plus-plus-logo.png" width="30px" align="center">
					Physics
				</a>
			</div>
			<div class="sub ch">
				<a href="">
					<img src="https://img.icons8.com/color/144/000000/c-plus-plus-logo.png" width="30px" align="center">
					Chemistry
				</a>
			</div>
			<div class="sub ma">
				<a href="">
					<img src="https://img.icons8.com/color/144/000000/c-plus-plus-logo.png" width="30px" align="center">
					Maths
				</a>
			</div>
			<div class="sub en">
				<a href="">
					<img src="https://img.icons8.com/color/144/000000/c-plus-plus-logo.png" width="30px" align="center">
					English
				</a>
			</div>
			<div class="sub close-ham">
				<img src="https://img.icons8.com/fluent/48/000000/close-window.png" width="30px" align="center">
			</div>
		</div>
	</header>

	<main style="min-height: 0px;">
		
	</main>

	<footer>
		<div class="footer">
			<p>© Made with ❤ by Sujal Singh 👨‍🚀🚀</p>
		</div>
	</footer>

	<script src="{% static 'js/homepage.js' %}"></script>

</body>
</html>