{% extends 'base.html' %}

{% block intro_block%}

{% endblock %}

{% block content %}
<div class="heading">
    <p>How to use xmemo?</p>
    <div></div>
</div>

<p class="main-text">First let's see what exactly is xmemo?</p>

<div class="sub-heading">
    <p>What is xmemo?</p>
    <div></div>
</div>
<div class="sub-text">
    <p>
        Xmemo allows you access to an organised database of notes and resources you might need specific to Xavierians.
        <br>For Computer Science Programs you can search for notes by date or by keywords in the question,
        and there you have an answer,
        possibly multiple answers uploaded by different people or even the same person.
        You can also see below every answer how many people though of that answer to be correct and how many thought it
        wasn't correct, so you are getting reliable answers.<br><br>

        <bold>Please note any type of notes other CS Programs is currently not supported, working on this feature.</bold>
        <br><br>

        Imagine this scenario, a day before exam suddenly you realise you deleted a particular pdf or any file you
        required for preparation. What do you do? You come to xmemo... duh?🤷
    </p>
    <div></div>
</div>
<br><br>
<div class="minor-line-break"></div>

<p class="main-text">
    Now let's see how to use xmemo.<br>
</p>


<div class="sub-heading">
    <p>How to search for notes?</p>
    <div></div>
</div>


<div class="sub-text">
    <p>
        You can search for notes through two methods:<br><br>
        <bold>By date</bold>
        Just go to the homepage and under search by date enter any valid date.
        Please note that the only supported format for dates is DD month_name YYYY where YYYY can be either 2020 or 2021
        . Example of a date in given format is 25 march 2021 or 7 September 2020.
    </p>
    <div></div>
</div>


{% endblock %}