:root {
	--page-background: #0D1117;


	--nav-color: #24292E;
	--title-color: #3498DB;

	--footer-background: #26282A;
	--footer-color: #626971;

	--ham-menu-background: #26282A;
	--ham-menu-border: var(--ham-menu-background);
	--ham-menu-color: #009DF8;
	--ham-menu-selected-border: #6CEBB6;
	--ham-menu-selected-color: #E74C3C;

	--main-border: #30363D;
	--heading-color: #c9d1d9;
	--text-color: #c9d1d9;
	--button-background: #30363D;
	--button-color: #fafbfc;
	--search-background: var(--page--background);
    --table-entry: #F1F8FF;
	--table-entry-border: #e1e4e8;

	--code-block-background: #2E303A;
	--major-line-break: white;
	--minor-line-break: var(--main-border);
	--wrong-button-hover: #d73a49;

	--link-color: white;
	--github-color: white;
}